<div class="container">
    <p>Edit Technology</p>

    <form [formGroup]="technologyForm" class="mt-5" (submit)="editTechnology()">
        <div class="form-group mb-3">
            <label class="form-label">Technology Name</label>
            <input class="form-control" placeholder="Enter technology name" formControlName="name">

            <ng-container *ngIf="getName.touched">
                <div *ngIf="getName.hasError('required')" class="text-danger">Name is required</div>
                <div *ngIf="getName.hasError('nameTaken')" class="text-danger">Name must be unique</div>
            </ng-container>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
