

<div class="form-container bg-body-secondary rounded-3 mt-5 pt-1 position-relative">
    <h2 class="form-header position-absolute top-0 start-50 translate-middle">Forget Password</h2>

    <form [formGroup]="FormGroup">
        <div class="row mt-5 p-2 mx-2">

            <div class="form-group col-12 mb-3 px-0">
                <label class="ms-1">Email</label>
                <input class="form-control" type="text" placeholder="Enter your email" formControlName="email">

                <ng-container *ngIf="getEmail.touched">
                    <div *ngIf="getEmail.hasError('required')" class="text-danger form-text ms-1">email is required</div>
                </ng-container> 
            </div>

            @if (isLoading) {
                <div class="spinner-border mx-auto" role="status"></div>     
            }@else {
                
                <button type="submit" class="btn btn-success col-12 m-auto fs-5 mb-2"  [disabled]="isEmailSent" (click)="sendEmailToResetPassword()">Reset Password</button>
            }
            
            <div *ngIf="isEmailSent"  class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Done: </strong>you have reset an email to reset your password
            </div>
        </div>
    </form>
</div>