

<div class="form-container mt-5 bg-info pt-1 position-relative rounded-3 pb-3">
    <h2 class="form-header position-absolute top-0 start-50 translate-middle">Reset Password</h2>

    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
        <div class="row mt-5 p-2 mx-2">
    
            <div class="form-group col-12 mb-3">
                <label class="ms-1">New Password</label>
                <input class="form-control" type="text" placeholder="Enter new password" formControlName="newPassword">
    
                <ng-container *ngIf="getNewPassword.touched">
                    <div *ngIf="getNewPassword.hasError('required')" class="text-danger form-text">password is required</div>
                    <div *ngIf="getNewPassword.hasError('pattern')" class="text-danger form-text">password must contain at least one uppercase letter, one special character, and be at least 8 characters long.</div>     
                </ng-container>
    
            </div>
    
            <div class="form-group col-12 mb-3">
                <label class="ms-1">Confirm Password</label>
                <input class="form-control" type="text" placeholder="Enter the password again" formControlName="confirmPassword">
    
                <ng-container *ngIf="getConfirmPassword.touched">
                    <div *ngIf="getConfirmPassword.hasError('required')" class="text-danger form-text">password is required</div>
                    <div *ngIf="getConfirmPassword.hasError('notIdentical')" class="text-danger form-text">Passwords do not match</div>  
                </ng-container>
            </div>
    
            <button type="submit" class="btn btn-success col-6 col-md-4 m-auto fs-5">Submit</button>
    
        </div>
    </form>

</div>


