<div class="view">
    <app-admin-side-bar></app-admin-side-bar>
    <div class="main">    
        <div class="dropdown d-flex justify-content-between shadow mb-2 rounded-2 shadow-sm">
            
            <h4 class="mb-0 d-flex align-items-center p-2">Welcome: {{Name}}</h4> 

            <button class="btn btn-light position-relative me-3" data-bs-toggle="dropdown">
                <i class="bi bi-bell fs-5"></i>
                @if (Notifications.length>0) {
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="notifCount">
                        {{Notifications.length}}
                    </span>
                }
            </button>

            @if(Notifications.length>0) {
                <ul class="dropdown-menu dropdown-menu-end" id="notifList">
                    @for (item of Notifications; track $index) {
                        <li> <a class="dropdown-item" (click)="readNotification(item.id, item.projectId)">{{item.message}}</a></li>
                    }
                </ul>
            }
                
        </div>

        <router-outlet></router-outlet>
    </div>
</div>